menu: [
  label: 'Packages'
  submenu: [
    label: 'Iansasciidoc Previewfrompackagesmarkdownpreview20240610withmd'
    submenu: [
      {label: 'Toggle Preview', command: 'iansasciidoc-previewfrompackagesmarkdownpreview20240610withmd:toggle'}
      {label: 'Toggle Break on Single Newline', command: 'iansasciidoc-previewfrompackagesmarkdownpreview20240610withmd:toggle-break-on-single-newline'}
      {label: 'Toggle GitHub Style', command: 'iansasciidoc-previewfrompackagesmarkdownpreview20240610withmd:toggle-github-style'}
      {label: 'openBrowserPopup', command: 'previewfrompackagesmarkdownpreview20240610withmd:open-browser-popup'}
      {label: 'saveToBackend', command: 'previewfrompackagesmarkdownpreview20240610withmd:save-to-backend'}
    ]
  ]
]

'context-menu':
  '.iansasciidoc-previewfrompackagesmarkdownpreview20240610withmd': [
    {label: 'Select All', command: 'iansasciidoc-previewfrompackagesmarkdownpreview20240610withmd:select-all'}
    {label: 'Save As HTML\u2026', command: 'core:save-as'}
    {label: 'openBrowserPopup', command: 'previewfrompackagesmarkdownpreview20240610withmd:open-browser-popup'}
    {label: 'saveToBackend', command: 'previewfrompackagesmarkdownpreview20240610withmd:save-to-backend'}
  ]
  '.iansasciidoc-previewfrompackagesmarkdownpreview20240610withmd.has-selection': [
    {label: 'Copy', command: 'core:copy'}
  ]
  '.iansasciidoc-previewfrompackagesmarkdownpreview20240610withmd:not(.has-selection)': [
    {label: 'Copy As HTML', command: 'core:copy'}
  ]
  '.tree-view .file .name[data-name$=\\.markdown]':
    [{label: 'Iansasciidoc Previewfrompackagesmarkdownpreview20240610withmd', command: 'iansasciidoc-previewfrompackagesmarkdownpreview20240610withmd:preview-file'}]
  '.tree-view .file .name[data-name$=\\.md]':
    [{label: 'Iansasciidoc Previewfrompackagesmarkdownpreview20240610withmd', command: 'iansasciidoc-previewfrompackagesmarkdownpreview20240610withmd:preview-file'}]
  '.tree-view .file .name[data-name$=\\.mdown]':
    [{label: 'Iansasciidoc Previewfrompackagesmarkdownpreview20240610withmd', command: 'iansasciidoc-previewfrompackagesmarkdownpreview20240610withmd:preview-file'}]
  '.tree-view .file .name[data-name$=\\.mkd]':
    [{label: 'Iansasciidoc Previewfrompackagesmarkdownpreview20240610withmd', command: 'iansasciidoc-previewfrompackagesmarkdownpreview20240610withmd:preview-file'}]
  '.tree-view .file .name[data-name$=\\.mkdown]':
    [{label: 'Iansasciidoc Previewfrompackagesmarkdownpreview20240610withmd', command: 'iansasciidoc-previewfrompackagesmarkdownpreview20240610withmd:preview-file'}]
  '.tree-view .file .name[data-name$=\\.ron]':
    [{label: 'Iansasciidoc Previewfrompackagesmarkdownpreview20240610withmd', command: 'iansasciidoc-previewfrompackagesmarkdownpreview20240610withmd:preview-file'}]
  '.tree-view .file .name[data-name$=\\.txt]':
    [{label: 'Iansasciidoc Previewfrompackagesmarkdownpreview20240610withmd', command: 'iansasciidoc-previewfrompackagesmarkdownpreview20240610withmd:preview-file'}]
