'atom-text-editor':
  'ctrl-alt-shift-c': 'iansasciidoc-previewfrompackagesmarkdownpreview20240610withmd:toggle'
  'ctrl-alt-shift-g': 'iansasciidoc-previewfrompackagesmarkdownpreview20240610withmd:open-browser-popup'
  'ctrl-alt-shift-s': 'iansasciidoc-previewfrompackagesmarkdownpreview20240610withmd:save-to-backend'

'.platform-darwin .iansasciidoc-previewfrompackagesmarkdownpreview20240610withmd':
  'cmd-a': 'iansasciidoc-previewfrompackagesmarkdownpreview20240610withmd:select-all'
  'cmd-+': 'iansasciidoc-previewfrompackagesmarkdownpreview20240610withmd:zoom-in'
  'cmd-=': 'iansasciidoc-previewfrompackagesmarkdownpreview20240610withmd:zoom-in'
  'cmd--': 'iansasciidoc-previewfrompackagesmarkdownpreview20240610withmd:zoom-out'
  'cmd-_': 'iansasciidoc-previewfrompackagesmarkdownpreview20240610withmd:zoom-out'
  'cmd-0': 'iansasciidoc-previewfrompackagesmarkdownpreview20240610withmd:reset-zoom'

'.platform-win32 .iansasciidoc-previewfrompackagesmarkdownpreview20240610withmd, .platform-linux .iansasciidoc-previewfrompackagesmarkdownpreview20240610withmd':
  'ctrl-a': 'iansasciidoc-previewfrompackagesmarkdownpreview20240610withmd:select-all'
  'ctrl-+': 'iansasciidoc-previewfrompackagesmarkdownpreview20240610withmd:zoom-in'
  'ctrl-=': 'iansasciidoc-previewfrompackagesmarkdownpreview20240610withmd:zoom-in'
  'ctrl--': 'iansasciidoc-previewfrompackagesmarkdownpreview20240610withmd:zoom-out'
  'ctrl-_': 'iansasciidoc-previewfrompackagesmarkdownpreview20240610withmd:zoom-out'
  'ctrl-0': 'iansasciidoc-previewfrompackagesmarkdownpreview20240610withmd:reset-zoom'
